:host {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
	padding: 12px 12px;
}

.title {
	font-size: 32px;
	font-weight: bold;
}

@media screen and (min-width: 1200px) {
	:host {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		height: 32px;
	}

	.title {
		display: flex;
		grid-column: 2;
		justify-content: center;
	}
}
