<div #wrapper class="inputWrapper">
	<textarea #textArea class="input" placeholder="Message..." (input)="inputChanged()" rows="1"> </textarea>
	<!-- <button id="sendButton">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 664 663">
			<path
				stroke-linejoin="round"
				stroke-linecap="round"
				stroke-width="33.67"
				stroke="#6c6c6c"
				d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
			></path>
		</svg>
	</button> -->
</div>
<div class="messageBox">
	<input required="" placeholder="Message..." type="text" id="messageInput" />
	<button id="sendButton">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 664 663">
			<path
				stroke-linejoin="round"
				stroke-linecap="round"
				stroke-width="33.67"
				stroke="#6c6c6c"
				d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
			></path>
		</svg>
	</button>
</div>
