@use 'color';

:host {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.input {
	width: 100%;
}

.messages {
	height: 100%;
}

.container {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: flex-end;
	gap: 12px;
	overflow: hidden;
	padding: 16px 0px;
}

.sendMessage {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 0px 16px;
}

.icon {
	cursor: pointer;
}

.icon svg {
	transition: all 0.3s;
}
.icon svg path {
	transition: all 0.3s;
}
.icon:hover svg path {
	stroke: color.$white;
}
