<div class="message" [ngClass]="message.speaker === 'user' ? '-right' : '-left'">
	<div class="headerContainer">
		<div class="message_header">
			<ng-container [ngTemplateOutlet]="message.speaker === 'user' ? iconUser : iconComputer"></ng-container>
			<b>{{ message.speaker === 'user' ? 'You' : 'DroitGPT' }}</b>
		</div>
		<div *ngIf="message.speaker !== 'user'" class="message_header regenerate" (click)="regenerateResponse.emit()">
			<ng-container [ngTemplateOutlet]="regenerate"></ng-container>
		</div>
	</div>
	<span class="message_content">
		{{ message.text[message.index] }}
	</span>
	@if (message.additionalInfo[message.index]) {
	<div class="message_footer">
		<div class="icon moreInfo" [ngClass]="showMoreInfo ? '-up' : '-down'" (click)="showMoreInfo = !showMoreInfo">
			<ng-container *ngTemplateOutlet="arrow"></ng-container>
		</div>
	</div>
	} @if (showMoreInfo) {
	<span class="message_content -footer">
		{{ message.additionalInfo[message.index] }}
	</span>
	}
</div>
@if (message.text.length > 1) {
<div class="button_wrapper">
	<div class="icon -left" [ngClass]="message.index === 0 ? '-disabled' : '-enabled'" (click)="decreaseIndex()">
		<ng-container *ngTemplateOutlet="arrow"></ng-container>
	</div>
	<span>{{ message.index + 1 }} / {{ message.text.length }}</span>
	<div
		class="icon"
		[ngClass]="message.index === message.text.length - 1 ? '-disabled' : '-enabled'"
		(click)="increaseIndex()"
	>
		<ng-container *ngTemplateOutlet="arrow"></ng-container>
	</div>
</div>
}

<ng-template #iconComputer>
	<svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
		<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
		<g id="SVGRepo_iconCarrier">
			<path
				d="M3 19H21M6 17H18C19.1046 17 20 16.1046 20 15V8C20 6.89543 19.1046 6 18 6H6C4.89543 6 4 6.89543 4 8V15C4 16.1046 4.89543 17 6 17Z"
				stroke="#ffffff"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
			></path>
		</g>
	</svg>
</ng-template>

<ng-template #iconUser>
	<svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
		<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
		<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
		<g id="SVGRepo_iconCarrier">
			<path
				d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z"
				stroke="#ffffff"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
			></path>
			<path
				d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z"
				stroke="#ffffff"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
			></path>
		</g>
	</svg>
</ng-template>

<ng-template #arrow>
	<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
		<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
		<g id="SVGRepo_iconCarrier">
			<path
				d="M9.71069 18.2929C10.1012 18.6834 10.7344 18.6834 11.1249 18.2929L16.0123 13.4006C16.7927 12.6195 16.7924 11.3537 16.0117 10.5729L11.1213 5.68254C10.7308 5.29202 10.0976 5.29202 9.70708 5.68254C9.31655 6.07307 9.31655 6.70623 9.70708 7.09676L13.8927 11.2824C14.2833 11.6729 14.2833 12.3061 13.8927 12.6966L9.71069 16.8787C9.32016 17.2692 9.32016 17.9023 9.71069 18.2929Z"
				fill="#4561de"
			></path>
		</g>
	</svg>
</ng-template>

<ng-template #regenerate>
	<svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
		<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
		<g id="SVGRepo_iconCarrier">
			<path
				d="M12.5 20.5C17.1944 20.5 21 16.6944 21 12C21 7.30558 17.1944 3.5 12.5 3.5C7.80558 3.5 4 7.30558 4 12C4 13.5433 4.41128 14.9905 5.13022 16.238M1.5 15L5.13022 16.238M6.82531 12.3832L5.47107 16.3542L5.13022 16.238"
				stroke="#BAB8BA"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
			></path>
		</g>
	</svg>
</ng-template>
