<div class="container">
	@for (message of messages; track $index) {
	<div class="message" [ngClass]="message.speaker === 'user' ? '-right' : '-left'">
		<div class="message_header">
			<ng-container [ngTemplateOutlet]="message.speaker === 'user' ? iconUser : iconComputer"></ng-container>
			<b>{{ message.speaker === 'user' ? 'You' : 'DroitGPT' }}</b>
		</div>
		<div class="message_content">
			{{ message.text }}
		</div>
	</div>
	} @if (cachedMessages.length) {
	<div class="button_wrapper">
		<div class="button" (click)="oneMoreAnswer.emit()">Obtenir une autre réponse</div>
	</div>
	}
</div>

<ng-template #iconComputer>
	<svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
		<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
		<g id="SVGRepo_iconCarrier">
			<path
				d="M3 19H21M6 17H18C19.1046 17 20 16.1046 20 15V8C20 6.89543 19.1046 6 18 6H6C4.89543 6 4 6.89543 4 8V15C4 16.1046 4.89543 17 6 17Z"
				stroke="#ffffff"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
			></path>
		</g>
	</svg>
</ng-template>

<ng-template #iconUser>
	<svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
		<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
		<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
		<g id="SVGRepo_iconCarrier">
			<path
				d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z"
				stroke="#ffffff"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
			></path>
			<path
				d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z"
				stroke="#ffffff"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
			></path>
		</g>
	</svg>
</ng-template>
