@use 'color';

:root *::-webkit-scrollbar {
	display: none;
}

:root {
	height: 100%;
}

body {
	width: 100vw;
	height: 100%;
	overflow: hidden;
	overflow-x: hidden; /* Block horizontal scroll */
	color: color.$whiteLightest;
	margin: 0;
	font-family: 'Libre Baskerville';
}

p {
	margin: 0;
}

@font-face {
	font-family: 'Libre Baskerville';
	src: url('./assets/LibreBaskerville-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
