// Colors
$blueDarkest: #121a3b;
$blueDarker: #1d295e;
$blueNormal: #2b3d8c;
$blueLighter: #2b3d8c;
$blueLightest: #4561de;

$white: white;
$black: black;

$blackDarkest: #2d2d2d;
$blackLightest: rgb(63, 63, 63);
