@use "color";

.container {
	height: 100vh;
	background-color: color.$blueDarkest;
	display: flex;
	flex-direction: column;
}

.chat {
	color: color.$whiteLightest;
	background-color: color.$blueDarkest;
	align-self: center;
}
